.bg {
    -fx-background-color: "mistyrose";
}
.waifuName {
    -fx-font: 20pt "cursive";
    -fx-text-fill: "grey";
}

.button {
    -fx-font: 20pt "cursive";
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-text-fill: "grey";
}